* {
  margin: 0;
  padding: 0;
}

body, html {
  background-image: url(/img/bg1.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  margin: 0px;
  text-align: center;
  height: 100%;
}

.scrollable {
  overflow-y: auto;
  padding-right: 10px;
}

.header {
  height: 50px;
  max-height: 10%;
  width: 80%;
  margin: 0 auto;
  background-color: rgba(95,95,95,0.8);
  border-radius: 25px;
  text-align: center;
  padding-left: 6px;
  display: flex;
}

.logoHeader {
  flex: 1;
  display: flex;
}

.logoImg {
  width: 100%;
  height: auto;
  max-height: 50px;
}

.pHeader {
  margin: auto;
  color: #fff;
  flex: 2;
}

.languageDiv {
  flex:1;
  display: flex;
  flex-direction: column;
}

.langLogoDiv {
  background-color: red;
  flex: 1;
}

.langSelectDiv {
  background-color: blue;
  flex: 1;
}