* {
  margin: 0;
  padding: 0;
}

body, html {
  background-image: url(/img/bg1.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  margin: 0px;
  text-align: center;
  height: 100%;
}

dl ul{
  padding-left: 35px;
}

/* General */
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.scrollable {
  overflow-y: auto;
  padding: 15px 10px 0px 2px;
}

/* Header */
.header {
  min-height: 50px;
  max-height: 50px;
  width: 90%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.83);
  border-radius: 25px;
  text-align: center;
  padding-left: 6px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.headerDivs {
  box-sizing: border-box;
  margin: auto;
}

.pHeader {
  margin: auto;
  color: #15ff00;
}

#hName {
  font-size: 1.75em;
}

/* Main Body */
.mainDiv {
  width: 90%;
  height: 83%;
  margin: auto;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.divHeader {
  position: sticky;
  top: 0px;
  height: 65px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  border-radius: 25px;
  background: #000;
  display: flex;
}

.divHeader ul {
  margin: auto;
}

.divHeader li {
  display: inline;
}

.divHeader a {
  color: red;
}

.divHeader a:visited {
  color: red;
}

.bodyRightDiv {
  box-sizing: border-box;
  /* background-color: red; */
  order: 2;
  box-sizing: border-box;
  flex-basis: 63%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mainBodyDiv {
  padding-top: 0px;
  padding-left: 15px;
  box-sizing: border-box;
  color: #15ff00;
  border: #15ff00 solid 1px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 25px;
  flex-basis: 100%;
}

.mainBodyDiv p, table, dt, dd {
  color: white;
  text-align: left;
}

.mainBodyDiv table, tr, td, th {
  border: #15ff00 solid 1px;
  padding: 5px;
}

.mainBodyDiv th {
  text-align: center;
}

.mainBodyDiv dt {
  text-decoration: underline;
  padding-top: 10px;
}

.mainBodyDiv dd {
  margin-left: 25px;
  padding-top: 5px;
}

.detailsDiv p {
  color: white;
}

.detailsDiv a {
  color: rgb(0, 110, 255);
}

.linksTitle{
  text-decoration: underline;
  text-align: left;
  margin-bottom: 15px;
}

.divFooter {
  position: sticky;
  bottom: 0px;
  height: 25px;
  width: 100%;
  border-radius: 25px;
  background: #000;
  display: flex;
}

.divFooter a {
  margin: auto;
  margin-right: 15px;
  color: red;
}

.divFooter a:visited {
  color: red;
}

.menuImgDiv {
  display: none;
  text-align: right;
  margin: 5px;
  font-size: 0.8em;
  color: #15ff00;
}

.menuImgDiv  :hover {
  cursor: pointer;
  font-size: 1.2em;
}

.menuBarDiv {
  box-sizing: border-box;
  border: #15ff00 solid 1px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 25px;
  order: 1;
  flex-basis: 35%;
  color: white;
  padding-left: 15px;
}

#imgLogo {
width: 20%;
}
/* 
.menuBarDiv ol {
  text-align: left;
  margin-left: 15px;
  list-style-type: upper-roman;
} */

.menuBarDiv ul {
  text-align: left;
  margin-left: 15px;
  line-height: 150%;
  font-size: 110%;
}

.menuBarDiv a {
  color: rgb(0, 110, 255);
}

.menuBarDiv a:visited {
  color: rgb(0, 110, 255);
}

/* Footer */
.footer {
  background-color: rgba(0, 0, 0, 0.83);
  width: 90%;
  margin: 0 auto;
  border-radius: 25px;
  color: red;
  position: sticky;
  top: 100%;
  padding: 5px;
}

/* Media options */
@media (max-width: 730px) {
  .mainDiv {
    flex-direction: column;
    display: flex;
  }

  .header, .mainBody, .footer {
    width: 100%;
  }

  .menuBarDiv {
    display: none;
    flex-basis: 100%;
  }

  .bodyRightDiv {
    flex-basis: 100%;
  }

  .menuImgDiv {
    display: block;
  }

  div.nav-expanded{ /*for menu animation*/
    display: block;
  }

  div.nav-non-expanded{ /*for menu animation*/
    display: none;
  }
}